/* styles/moviedetails.css */

.movie-cont {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set height to 100% of viewport height */
}

.movie-details {
    padding: 20px;
    max-width: 800px;
    margin: 10 auto;
    font-family: Arial, sans-serif;
}

.back-button {
    position: absolute; /* Position the button absolutely */
    top: 20px; /* Adjust the top spacing as needed */
    left: 20px; /* Adjust the left spacing as needed */
    background-color: transparent; /* Remove background color */
    border: none; /* Remove border */
    cursor: pointer; /* Add pointer cursor */
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Adjust text color */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.back-arrow {
    margin-right: 5px; /* Add some space between the arrow and text */
    font-size: large;
}

.back-button:hover {
    background-color: #000; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    border:5px ;

}

.movie-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
}

.movie-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.movie-yy, .movie-rating {
    font-size: 18px;
}

.movie-year{
    font-size:16px;
}

.movie-rating {
    display: flex;
    flex-direction: column;
}

.movie-rate{
    font-size: 16px;
}

.movie-votes {
    font-size: 14px;
    color: #555;
}

.movie-details-body {
    display: flex;
    flex-wrap: wrap;
}

.movie-image {
    flex: 1 1 300px;
    margin-right: 20px;
}

.movie-image img {
    width: 100%;
    border-radius: 8px;
}

.movie-details-text {
    flex: 2 1 400px;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
}

.movie-actress {
    margin-bottom: 10px;
    font-size: 16px;
}

.movie-plot {
    margin-top: 20px;
    font-size: 16px;
}

.movie-add {
    margin-top: 40px;
}

.movie-add-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
}

strong {
    font-weight: bold;
}


/* Responsive design */
@media (max-width: 768px) {
    .movie-container {
        flex-direction: column;
        align-items: center;
    }

    .movie-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .movie-details-text {
        text-align: center;
    }
}
